  @import url(assets/estilos/carrosel.css);
  
  :root {
    --cor-de-fundo: #ADDC6C;
    --cor-de-fundo2:#7b9c4c;
    --cor-de-borda: #52781D;
    --cor-de-fundo-hover: #ddd;
    --branco: White;
    --preto: black;
}

.corpo{
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--cor-de-fundo);
}

.cabecalho{
    color: white;
    background-color: black;
    text-align: center;
    padding: 30px;
}

.cabecalho h3{
    color: rgb(206, 206, 8);
}
.cabecalho2 {
position: sticky top; 
}

.texto{
     background-color: var(--cor-de-fundo2);
    border-radius: 6px;
    margin: 5px;
    outline: 5px solid var(--cor-de-borda);
}
.texto2{
     background-color: var(--cor-de-fundo);
    outline: 5px solid var(--cor-de-borda);
}
.alinha{
    margin: 5px;
    text-align: justify;
}
.titulo{
        margin: 5px;
}
.espaço{
    margin-top: 40px;
}
.img-agro{
    max-width: 100%;
    height: auto;
    max-height: 450px;
}

.br-3{
    border-radius: 15px;
}

.img-card{
    max-height: 250px;
}

.img-slide{
    max-height: 400px;
}

.footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
}
.borda {
    border: 5px solid var(--cor-de-borda);
    background-color: var(--branco);
}
.botao{
    font-weight: 600;
    color: var(--bs-white);
    background-color: var(--cor-de-borda);
 }
 .botao:hover{
    font-weight: 600;
    color: var(--cor-de-borda);
    background-color: var(--cor-de-fundo)
    ;
 }
 .transição{
    color: #fff;
 }
 .transição:hover{
    color: #2B4606;

 }

 .atual{
    color: black;
 }

 .btn-botao {
  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--cor-de-borda);
  --bs-btn-border-color: var(--bd-violet-bg);
  --bs-btn-hover-color: var(--);
  --bs-btn-hover-bg: #{shade-color($bd-violet, 10%)}; }
